
body {
    margin: 0;
}

.centerWrapper {
    padding-top: 40px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C7E2F6;
}

.centerWrapper p{
    font-size: 30px;
}
