@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=IBM+Plex+Sans+KR:wght@500&family=Noto+Sans+KR:wght@100..900&display=swap');

.headerWrapper {
    z-index: 99;
}

.bull-form {
    position: fixed; /* 위치를 설정합니다. */
    display: inline-block;

    border: 1px;
    border-radius: 15px; /* 테두리의 모서리를 모두 직각으로 만듭니다. */

    left: 10vw;
    top: 12vh;
    width: 80vw; /* 너비를 설정합니다. */
    height: 75vh;

    background-color: rgb(235, 235, 235);
}

.form-group {
    position: fixed;
    display: inline-block;
    margin-bottom: 5px;
}

#formTitle {
    position: fixed;
    display: inline-block;
    left: 12vw;
    top: 13vh;
    width: 74vw;
    height: 3vh;
    font-size: 42pt;
    font-weight: 400;
    font-family: "Do Hyeon", sans-serif;
}

#title {
    position: fixed;
    display: inline-block;
    left: 12vw;
    top: 21.5vh;
    width: 74vw;
    height: 3vh;
    font-size: 16pt;
    font-family: "Do Hyeon", sans-serif;
}

#time {
    position: fixed;
    display: inline-block;
    left: 12vw;
    top: 27.5vh;
    width: 56.7vw;
    height: 3vh;
    font-size: 12pt;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
}

#formSelectCategory {
    position: fixed;
    display: inline-block;
    border: 0px;
    left: 70.5vw;
    top: 27.5vh;
    width: 8vw;
    height: 5.5vh;
    font-size: 12pt;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px rgb(156, 156, 156);
    font-family: "Noto Sans KR", sans-serif;
}

#participants {
    position: fixed;
    display: inline-block;
    left: 78.9vw;
    top: 27.5vh;
    width: 7vw;
    height: 3vh;
    font-size: 12pt;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
}

#content {
    position: fixed;
    display: inline-block;
    left: 12vw;
    top: 33.5vh;
    width: 74vw;
    height: 42vh;
    resize: none;
    font-weight: 400;
    font-size: 12pt;
    font-family: "Noto Sans KR", sans-serif;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%; /* 입력 칸의 너비를 100%로 설정합니다. */
    padding: 10px; /* 내부 여백을 추가합니다. */
    border: 0px;
    box-shadow: 1px 1px 3px rgb(156, 156, 156);
    border-radius: 4px; /* 테두리의 모서리를 둥글게 만듭니다. */
    font-size: inherit; /* 부모 요소로부터 상속받은 글자 크기를 사용합니다. */
}

label[for="content"] {
    margin-top: 0; /* "내용" 라벨의 위 여백을 초기화합니다. */
    margin-right: 10px; /* 라벨과 입력 칸 사이의 간격을 조정합니다. */
}

.submit {
    position: fixed;
    display: inline-block;
    margin-top: 68vh;
    margin-left: 31vw;
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 7px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14pt;
    font-weight: 500;
    background-color: #a4bfd3;
}

.cancel {
    position: fixed;
    display: inline-block;
    margin-top: 68vh;
    margin-left: 39vw;
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 7px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14pt;
    font-weight: 500;
    background-color: rgb(132, 132, 132);
}
