@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&family=Noto+Sans+KR:wght@100..900&display=swap');

html {
    height: auto;
    min-height: 105vh;
}

body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.headerWrapper {
    z-index: 99;
}

.detailBox {
    border: 1px solid black;
    position: absolute;
    min-height: 88.5vh;
    max-height: auto;
    overflow: auto;
    width: 45vw;
    margin-top: 7vh;
    padding-bottom: 1vh;
    translate: 60% 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #d0d9e0;
}

.imgBox {
    position: fixed;
    display: inline-block;
    width: 43vw;
    height: 38vh;
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 15px;
    background-color: rgb(251, 243, 255);
}

.titleBox {
    border: 1px solid black;
    position: fixed;
    display: inline-block;
    width: 38vw;
    height: 8vh;
    margin-top: 35.5vh;
    margin-left: 3.5vw;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.title {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 0.8vh;
    font-size: 28pt;
    font-weight: 700;
}

.category, #member {
    position: fixed;
    font-weight: 300;
    margin-left: 20px;
}

.contentBox {
    position: fixed;
    display: inline-block;
    margin-top: 45.5vh;
    margin-left: 1vw;
    margin-bottom: 1vh;
    width: 43vw;
    height: auto;
    min-height: 40vh;
    margin-bottom: 1vh;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
}

.category {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 18pt;
}

.member {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 5.5vh;
    margin-left: 1vw;
    font-size: 15pt;
}

.content {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 18pt;
    font-weight: 400;
    word-break: break-all;
}

.joinBtn {
    font-family: "Noto Sans KR", sans-serif;
    z-index: 99;
    position: fixed;
    display: inline-block;
    margin-top: 92vh;
    margin-left: 39vw;
    width: 10vw;
    height: 6vh;
    align-content: center;
    text-align: center;
    border-radius: 13px;
    color: white;
    font-weight: 800;
    font-size: 20pt;
    background-color: rgb(235, 63, 63);
}

.exitBtn {
    z-index: 99;
    position: fixed;
    display: inline-block;
    margin-top: 92vh;
    margin-left: 50vw;
    width: 10vw;
    height: 6vh;
    align-content: center;
    text-align: center;
    border-radius: 13px;
    color: white;
    font-weight: 800;
    font-size: 20pt;
    background-color: rgb(100, 100, 100);
}

.commentGrid {
    position: absolute;
    display: inline-block;
    margin-top: 98vh;
    margin-left: 27vw;
    width: 45vw;
    min-height: 20vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    background-color: #d0d9e0;
    border-radius: 15px;
}

.text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16pt;
    font-weight: 600;
    margin-left: 1vw;
    margin-top: 0.1vh;
}

.commentBox {
    margin-left: 0.75vw;
    margin-top: 0.5vh;
    padding-top: 1vw;
    width: 43vw;
    height: auto;
    min-height: 12vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

.commentName {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 1vw;
    width: 5vw;
    height: 3.5vh;
    border-radius: 10px;
    background-color: #d0d9e0;
    line-height: 2vw;
    text-align: center;
}

.comment {
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin: 0.5vw 1vw 0 1.5vw;
    word-break: break-all;
    background-color: rgba(100, 100, 100, 0.216);
}