@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.headerWrapper {
    z-index: 99;
}

.detailBox {
    position: absolute;
    min-height: 88.5vh;
    height: auto;
    overflow: auto;
    width: 50vw;
    margin-top: 7vh;
    translate: 50% 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #d0d9e0;
}

.titleBox {
    position: absolute;
    display: inline-block;
    width: 38vw;
    height: 7vh;
    margin-top: 3vh;
    margin-left: 6vw;
    border-radius: 20px;
    padding-top: 1.5vh;
    text-align: center;
    align-items: center;
    background-color: white;
}

.title {
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 0.3vh;
    font-size: 19.5pt;
    font-weight: 700;
    width: 34vw;
    height: 7vh;
}

.contentBox {
    position: absolute;
    display: inline-block;
    margin-top: 13.5vh;
    margin-left: 2.5vw;
    margin-bottom: 1vh;
    width: 45vw;
    min-height: 72vh;
    height: auto;
    margin-bottom: 1vh;
    padding-bottom: 2vh;
    border-radius: 15px;
    background-color: white;
}

.category {
    font-family: "Noto Sans KR", sans-serif;
    position: fixed;
    font-weight: 300;
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 15pt;
    width: 25.5vw;
    border-bottom: 1px solid black;
}

.member {
    font-family: "Noto Sans KR", sans-serif;
    position: fixed;
    font-weight: 300;
    margin-top: 2vh;
    margin-left: 13.5vw;
    font-size: 15pt;
}

.time {
    font-family: "Noto Sans KR", sans-serif;
    position: fixed;
    font-weight: 300;
    margin-top: 2vh;
    margin-left: 23.5vw;
    font-size: 15pt;
    border-bottom: 1px solid black;
}

.content {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 7.5vh;
    margin-left: 1.5vw;
    margin-right: 1vw;
    font-size: 17pt;
    font-weight: 400;
    word-break: break-all;
}

.joinMemList {
    position: fixed;
    left: 78vw;
    top: 13vh;
    width: 17vw;
    min-height: 9vh;
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.538);
    background-color: #d0d9e0;
}

.listTxt {
    position: relative;
    top: 0.8vh;
    left: 1vw;
    width: 15vw;
    border-bottom: 1px solid black;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16pt;
    font-weight: 700;
}

.joinMemBox {
    position: relative;
    display: inline-block;
    margin-top: 0.8vh;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 26vh;
}

.row {
    display: inline-block;
    position: relative;
    width: 14.5vw;
    height: 3vh;
}

.memName {
    display: inline;
    position: relative;
    font-size: 13pt;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
    float: left;
}

.IsLeader {
    position: relative;
    display: inline;
    left: 0.5vw;
    font-size: 13pt;
    font-weight: 800;
    font-family: "Noto Sans KR", sans-serif;
    float: left;
}

.kick {
    position: relative;
    display: inline;
    left: 0.5vw;
    top: -0.4vh;
    font-size: 15pt;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: red;
    font-family: "Noto Sans KR", sans-serif;
    float: left;
}

.commentGrid {
    position: absolute;
    margin-top: 97.5vh;
    margin-left: 25vw;
    width: 50vw;
    min-height: 20vh;
    background-color: rgb(255, 255, 255);
    background-color: #d0d9e0;
    border-radius: 15px;
    padding-bottom: 7vh;
}

.text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16pt;
    font-weight: 600;
    margin-left: 1vw;
    margin-top: 1vh;
}
.noJoinText {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    margin-left: 1vw;
    margin-top: 1vh;
    background-color: red;
}

.commentBox {
    margin-left: 2.55vw;
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    padding-top: 1vw;
    padding-bottom: 1px;
    width: 45vw;
    height: auto;
    min-height: 12vh;
    border-radius: 15px;
    background-color: white;
}

.commentWrite {
    border: none;
    resize: none;
    width: 90%;
    height: 60px;
    margin-left: 10px;
}

.commentWrtieBtnWrapper {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13pt;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 6px;
    width: 6vw;
    height: 3.5vh;
    border-radius: 10px;
    background-color: #d0d9e0;
    line-height: 2vw;
    text-align: center;
}

.submit {
    border: none;
    background-color: #d0d9e0;
    margin-bottom: 10px;
}

.commentBoxHeader {
    display: flex;
    gap: 5px;
}

.commentName {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13pt;
    font-weight: 500;
    margin-left: 1vw;
    width: 5vw;
    height: 3.5vh;
    border-radius: 10px;
    background-color: #d0d9e0;
    line-height: 2vw;
    text-align: center;
}

.deleteCommentBtn {
    border: none;
    background-color: white;
}

.comment {
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin: 0.5vw 1vw 0 1.5vw;
    word-break: break-all;
}

.clearBtn {
    font-family: "Noto Sans KR", sans-serif;
    z-index: 99;
    position: fixed;
    display: inline-block;
    left: 45%;
    bottom: 2vh;
    /* margin-top: 92vh;
    margin-left: 39vw; */
    width: 10vw;
    height: 5.5vh;
    align-content: center;
    text-align: center;
    border: none;
    border-radius: 13px;
    color: white;
    font-weight: 800;
    font-size: 18pt;
    background-color: rgb(193, 154, 154);
}

.joinBtn {
    font-family: "Noto Sans KR", sans-serif;
    z-index: 99;
    position: fixed;
    display: inline-block;
    left: 45%;
    bottom: 2vh;
    /* margin-top: 92vh;
    margin-left: 39vw; */
    width: 10vw;
    height: 6vh;
    align-content: center;
    text-align: center;
    border: none;
    border-radius: 13px;
    color: white;
    font-weight: 800;
    font-size: 20pt;
    background-color: rgb(193, 154, 154);
}

.exitBtn {
    z-index: 99;
    position: fixed;
    left: 45%;
    bottom: 2vh;
    /* margin-top: 92vh; */
    /* margin-left: 50vw; */
    display: inline-block;
    width: 10vw;
    height: 6vh;
    align-content: center;
    text-align: center;
    border: none;
    border-radius: 13px;
    color: white;
    font-weight: 800;
    font-size: 20pt;
    background-color: rgb(186, 186, 186);
    
    
}

h3 {display:inline}