
body {
    margin: 0;
}

.centerWrapper {
    padding-top: 40px;
    height: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C7E2F6;
    text-align: center;
}

.centerTextCenter {
    /* background-color: #7694AB; */
    width: 700px;
}

.centerWrapper h1 {
    font-size: 50px;
}

.centerWrapper h2 {
    font-size: 40px;
}

.centerWrapper p{
    font-size: 40px;
}

.centerButtonWrapper {
    position: absolute;
    bottom: 40px;
}

.centerButtonWrapper a {
    text-decoration: none;
}

.centerButton {
    width: 110px;
    font-family: "Noto Sans KR";
	font-weight: 400;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    background-color: #7694AB;
    color: #fff;
	cursor: pointer;
    height: 35px;
}

.makeGroupButton {
    margin-right: 6px;
}

.myGroupButton {
    margin-left: 6px;
}

.centerButton:hover {
    opacity: 0.6;
}