/*
* {
    background-color: rgba(84, 84, 84, 0.425);
}
*/

body {
    background-color: rgb(198, 198, 198);
    margin: 0;
}

.nav {
    background-color: #b0afaf;
    display:flex;
    height: 90px;
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 30px;
    margin-top: 7px;
}

.nav_btn {
    display: flex;
    width: 90%;
    margin-top: 15px;
    justify-content: center;
}

.nav_btn a {
    background-color: rgb(104, 169, 170);
    width: 110px;
    height: 45px;
    border-radius: 55px;
    text-align: center;
    margin-left: 45px;
    line-height: 48px;
    font-family: "Black Han Sans", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20pt;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.nav_btn i {
    background-color: white;
    width: 47.5px;
    height: 47.5px;
    border-radius: 50%;
    text-align: center;
    margin-left: 45px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.fav {
    height: 200px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.content a {
    display: grid;
    justify-content: start;
    color: inherit;
    grid-template-areas:
    'a b'
    'a c';
    text-decoration: none;
    margin: 30px;
    border: solid 4px black;
    border-radius: 30px;
    width: 25%;
    height: 150px;
}

.preview {
    grid-area: a;
    display: block;
    border-right: solid 3px black;
    width: 100px;
    height: 150px;
}

.preview img {
    margin-top: 45px;
    margin-left: 23px;
}

.category {
    grid-area: b;
    width: 100%;
    height: 40px;
    border-bottom: solid 3px black;
}

.category .background {
    display: flex;
    background-color: white;
    margin-top: 5px;
    margin-left: 20px;
    width: 130px;
    height: 30px;
    border-radius: 20px;
}

.category i {
    margin-top: 15px;
    margin-left: 12px;
}

.tag {
    background-color: black;
    width: 70px;
    height: 23px;
    margin-top: 3.5px;
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: "Black Han Sans", sans-serif;
    font-size: 16pt;
}

.content .main {
    grid-area: c;
    width: 260px;
    height: 110px;
    margin-top: 3px;
}

.content .main .title {
    text-align: left;
    border-bottom: solid 3px black;
    margin-left: 10px;
    margin-right: 20px;
    height: 25px;
}