html {
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 200vh;
}

.mainImg {
    position: fixed;
    display: block;
    object-fit: fill;
    width: 100vw;
    mask-image: linear-gradient(to top, black 85%, transparent 100%);
}

.nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 16vh;
}

.Title {
    position: fixed;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Permanent Marker", cursive;
    font-size: 10vw;
    text-shadow: 2px 2px 4px gray;
}

.nav .menu {
    display: flex;
    width: 100vw;
    height: 5vh;
    margin-top: 7vh;
}

.nav .menu a {
    position: fixed;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 2.3vw;
    text-decoration: none;
    color: black;
}

.nav .menu .first { left: 10vw; }
.nav .menu .second { left: 25vw; }
.nav .menu .third { left: 70vw; }
.nav .menu .fourth { left: 85vw; }

.mainGif_scrolldown {
    position: fixed;
    display: block;
    object-fit: fill;
    width: 5vw;
    left: 50%;
    top: 85%;
    transform: translate(-50%, 0) rotate(-180deg);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: scroll_gif 1s both;
    animation-timeline: scroll();
}

#txt_scroll_down {
    position: fixed;
    display: block;
    left: 50%;
    top: 91%;
    transform: translate(-50%, 0);
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: scroll_gif 1s both;
    animation-timeline: scroll();
}

@keyframes scroll_gif {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.mainPopup {
    pointer-events: none;
    position: fixed;
    display: inline-block;
    transform: translate(0.5vw,none);
    width: 98vw;
    height: 28vh;
    top: 71vh;
    left: 1vw;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.90);
    transition: all 0.5s ease-in-out;
    animation: scroll_div 1s both;
    animation-timeline: scroll();
}

@keyframes scroll_div {
    0% {
        translate: 0 100%;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 0.95;
    }
}

.popUpTitle {
    margin-top: -5px;
    font-size: 4vw;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    text-shadow: 2px 2px 4px gray;
}

.mainPopup img {
    position: fixed;
    display: block;
    object-fit: fill;
    width: 7vw;
    filter: drop-shadow(0px 0px 1px gray);
    transform: translate(-50%,0);
}

.mainPopup .study, #study { left: 20vw; }
.mainPopup .excurr, #excurr { left: 32vw; }
.mainPopup .exer, #exer { left: 44vw; }
.mainPopup .meal, #meal { left: 56vw; }
.mainPopup .car, #car { left: 68vw; }
.mainPopup .taxi, #taxi { left: 80vw; }

.mainPopup .detail {
    position: fixed;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    top: 22vh;
    text-decoration: none;
    color: black;
    transform: translate(-50%,0);
}